# Performing Principal Component Analysis (PCA) - Lab

## Introduction

Now that you have high level overview of PCA as well as some of the details in the algorithm itself, its time to practice implementing PCA on your own using the NumPy package. 

## Objectives

You will be able to:
    
* Implement PCA from scratch using NumPy

## Import the Data

To start, import the data stored in the file 'foodusa.csv'.

In [5]:
#Your code here
import pandas as pd
import numpy as np 
food = pd.read_csv('foodusa.csv',index_col=0)

In [6]:
food.head(2)

           Bread  Burger  Milk  Oranges  Tomatoes
City
ATLANTA     24.5    94.5  73.9     80.1      41.6
BALTIMORE   26.5    91.0  67.5     74.6      53.3

## Normalize the Data

Next, normalize your data by subtracting the feature mean from each of the columns

In [9]:
#Your code here
food-food.mean()

                  Bread     Burger       Milk    Oranges   Tomatoes
City
ATLANTA       -0.791304   2.643478  11.604348 -22.891304  -7.165217
BALTIMORE      1.208696  -0.856522   5.204348 -28.391304   4.534783
BOSTON         4.408696   8.943478  -0.895652   1.008696  10.834783
BUFFALO       -2.491304  -5.256522   3.004348  15.408696   2.434783
CHICAGO        1.408696  -5.156522   0.404348   2.908696   2.434783
CINCINNATI     0.008696  10.643478   1.004348  -3.691304  -3.165217
CLEVELAND     -2.491304  -3.056522  -9.895652   7.908696  -1.965217
DALLAS        -1.991304  -6.356522   0.204348  14.908696  -6.965217
DETROIT       -1.191304   1.843478 -10.795652   6.708696   3.634783
HONALULU       4.008696  14.043478  17.904348  30.208696  12.934783
HOUSTON       -2.991304  -8.256522   5.504348   5.608696  -6.365217
KANSAS CITY    0.808696  -2.956522   3.104348  -2.091304  -5.565217
LOS ANGELES    1.608696  -2.556522  -6.095652 -20.291304 -10.365217
MILWAUKEE     -4.991304  -2.256522  -8.495652   8.808696   5.134783
MINNEAPOLIS   -0.691304   0.343478 -10.395652   3.008696   1.934783
NEW YORK       5.508696  18.843478   3.704348   4.308696  13.834783
PHILADELPHIA  -0.791304   0.443478   4.404348  -4.991304  12.934783
PITTSBURGH     0.908696   3.543478  -2.095652  14.108696   0.534783
ST LOUIS       1.208696   0.543478  -1.495652  12.108696  -2.565217
SAN DIEGO      0.208696  -8.156522  -5.295652 -10.191304 -13.365217
SAN FRANCISCO  1.008696  -4.756522  -3.995652  -1.191304  -7.265217
SEATTLE       -2.791304 -14.156522  -0.295652 -11.891304  -3.865217
WASHINGTON DC -1.091304   1.943478   3.704348 -21.391304  -2.565217

## Calculate the Covariance Matrix

The next step for PCA is to calculate to covariance matrix for your normalized data. Do so here.

In [ ]:
#Your code here

## Calculate the Eigenvectors

Next, calculate the eigenvectors for your covariance matrix.

In [ ]:
#Your code here

## Sorting the Eigenvectors to Determine Primary Components

Great! Now that you have the eigenvectors and their associated eigenvalues, sort the eigenvectors based on their eigenvalues!

In [ ]:
#Your code here

## Reprojecting the Data

Finally, reproject the dataset using your eigenvectors. Reproject the dataset down to 2 dimensions.

In [ ]:
#Your code here

## Summary

Well done! You've now coded PCA on your own using NumPy! With that, it's time to look at further application of PCA.